include ../../_assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })
include components/menu.pug
include components/icon.pug
include components/breadcrumb.pug
include components/pugination.pug
include components/soc.pug
include components/pic.pug
include components/img.pug
include components/btn.pug

include components/ddgroup.pug

mixin arrow()
	.swiper-button-hand.swiper-button-hand-prev.swiper-button-prev
		+icon('chevron-left-btn')
	.swiper-button-hand.swiper-button-hand-next.swiper-button-next
		+icon('chevron-right-btn')
//- /arrow for swiper-slider

mixin ie11()
	//- modernizer and for ie11
	 
	<!--[if lt IE 11]><p   class="browsehappy container">К сожалению, вы используете устаревший браузер. Пожалуйста, <a href="http://browsehappy.com/" target="_blank">обновите ваш браузер</a>, чтобы улучшить производительность, качество отображаемого материала и повысить безопасность.</p><![endif]-->

mixin addblock()
	+b.addBlock
		+e.btn--minus(type="button")
		input(type="text" value="1")
		+e.btn--plus(type="button")

mixin servicesItem(content) 
	+e.LI.item
		+e.link(href="#")!= content

mixin servicesList()
	.col
		+b.UL.services-list&attributes(attributes)
			block

mixin servicesDescription(text)
	.col-desc.col-12
		+b.P.services-description-text!= text

mixin servicesGoods(num, text)
	.col-sm-6.col-lg-4.col-xl-3
		+b.services-goods&attributes(attributes)
			span!= num 
			span!= text
mixin page-head(t, filter)
	+b.page-head 
		.container
			block
			h1= t
			if filter
				+b.filter
					+e.link--active(href="#") Услуги
					+e.link(href="#") Отрасли

mixin mainSliderItem(imgLg, imgSm, title, text)
	+e.slide.swiper-slide.bg-wrap
		picture.picture-bg
			//- slide-lg 
			//- slide-sm 
			source(type='image/avif' srcset=`img/@2x/avif/${imgLg}.avif` media='(min-width:576px)')
			source(type='image/avif' srcset=`img/@2x/avif/${imgSm}.avif`)
			source(type='image/webp' srcset=`img/@2x/webp/${imgLg}.webp` media='(min-width:576px)')
			source(type='image/webp' srcset=`img/@2x/webp/${imgSm}.webp`)
			source(type='image/jpg' srcset=`img/@2x/avif/${imgLg}.jpg` media='(min-width:576px)')
			source(type='image/jpg' srcset=`img/@2x/avif/${imgSm}.jpg`)
			img.object-fit-js(src=`img/@2x/${imgLg}.jpg` alt='' loading='lazy')
		.container
			+e.text-wrap
				h2!= title
				p!= text

mixin mainSlider()
	+b.main-slider--js.swiper&attributes(attributes)
		.swiper-wrapper
			block
		.swiper-pagination

mixin search()
	+b.search-block
		+e.btn--show.--js.d-none.d-lg-block
			+icon("search2")
		+e.hidden-block
			form
				+input("Поиск")
				+e.btn(type="submit").d-lg-none
					+icon("search2")
			+e.btn--close.--js.d-none.d-lg-block
				+icon("close")
	//- +b.search-result.d-none.d-lg-block
		mixin item(t)
			+e.group
				if t
					+e.title= t
				block
		+item()
			+e.btns.row
				.col-auto: +e.btn.btn-gray(href="#") Новости
				.col-auto: +e.btn.btn-gray(href="#") Немолоко
				.col-auto: +e.btn.btn-gray(href="#") Награды
		+item("Услуги")
			+servicesList()
				+servicesItem('Стратегия ')
				+servicesItem('Продвижение')
				+servicesItem('Потребительский брендинг')
		+item("Портфолио")
			.row
				.col-md-6
					+cardItem('Bakerton. Выбери цвет настроения!', 'Потребительский брендинг', 'main-bg').--horizontal
				.col-md-6
					+cardItem('Bakerton. Выбери цвет настроения!', 'Потребительский брендинг', 'main-bg').--horizontal
		+item("Новости")
			.mb-2
				a.link-body(href="#") Nemoloko выводит на рынок новые линейки 
					span.text-secondary-light / 12 января
			.mb-2
				a.link-body(href="#") Это вам – Nemoloko! Новая категория! Новый бренд! 
					span.text-secondary-light / 16 января
		+b.more-link
			+e.btn(href="#")
				+icon('chevron-right-btn')
			| Все результаты поиска

mixin logo()
	+b.logo-link(href="/")
		<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
			<g clip-path="url(#clip0_2312_2263)">
			<rect width="48" height="48" fill="#FFD747"/>
			<path d="M43.0703 2.33496H5.05953C3.50277 2.33496 2.33521 3.50253 2.33521 5.05929V43.0701C2.33521 44.6269 3.50277 45.7944 5.05953 45.7944H43.0703C44.6271 45.7944 45.7947 44.6269 45.7947 43.0701V5.05929C45.7947 3.50253 44.4974 2.33496 43.0703 2.33496Z" fill="#FFD747"/>
			<path d="M15.6973 33.0812L15.5676 33.4704H15.4378L15.3081 33.0812L13.6216 28.5407H10.7676L14.5297 37.1028H16.4757L20.2378 28.5407H17.5135L15.6973 33.0812ZM32.5622 11.2866H28.6703V19.8488H32.5622C35.4162 19.8488 37.2324 18.1623 37.2324 15.438C37.2324 12.9731 35.4162 11.2866 32.5622 11.2866ZM32.3027 17.5136H31.1351V13.6218H32.3027C34.3784 13.6218 34.5081 15.0488 34.5081 15.438C34.6378 16.9947 33.4703 17.5136 32.3027 17.5136ZM19.9784 15.5677C19.9784 12.9731 18.1622 11.4164 15.3081 11.4164H11.4162V19.9785H15.3081C18.1622 19.8488 19.9784 18.1623 19.9784 15.5677ZM14.0108 17.5136V13.6218H15.1784C17.2541 13.6218 17.3838 15.0488 17.3838 15.438C17.3838 16.865 16.2162 17.3839 15.1784 17.3839H14.0108V17.5136ZM35.4162 32.0434C35.546 31.9136 35.9351 31.3947 35.9351 30.7461C35.9351 29.5785 35.1568 28.5407 33.0811 28.5407H28.6703V37.1028H33.3406C34.8973 37.1028 36.5838 36.3245 36.5838 34.1191C36.5838 33.0812 36.1946 32.4326 35.4162 32.0434ZM31.0054 30.4866C31.0054 30.4866 32.5622 30.4866 32.8216 30.4866C33.3406 30.4866 33.6 30.7461 33.6 31.1353C33.6 31.3947 33.4703 31.7839 32.8216 31.7839C32.6919 31.7839 31.0054 31.7839 31.0054 31.7839V30.4866ZM33.0811 35.1569C32.8216 35.1569 31.0054 35.1569 31.0054 35.1569V33.3407C31.0054 33.3407 32.8216 33.3407 33.0811 33.3407C33.7297 33.3407 34.1189 33.7299 34.1189 34.2488C34.2487 34.7677 33.7297 35.1569 33.0811 35.1569Z" fill="black"/>
			<path d="M43.0703 0H5.05946C2.20541 0 0 2.20541 0 5.05946V43.0703C0 45.7946 2.20541 48 5.05946 48H43.0703C45.7946 48 48.1297 45.7946 48.1297 42.9405V5.05946C48 2.20541 45.7946 0 43.0703 0ZM45.7946 43.0703C45.7946 44.627 44.627 45.7946 43.0703 45.7946H5.05946C3.5027 45.7946 2.33514 44.627 2.33514 43.0703V5.05946C2.33514 3.63243 3.5027 2.33513 5.05946 2.33513H43.0703C44.627 2.33513 45.7946 3.5027 45.7946 5.05946V43.0703Z" fill="#FFD747"/>
			</g>
			<defs>
			<clipPath id="clip0_2312_2263">
			<rect width="48" height="48" fill="white"/>
			</clipPath>
			</defs>
			</svg>

mixin news-item(i, t, d, links)
	.col-md-6
		+b.news-item(href="#")
			+pic(`sNews-${i}.jpg`, 'bg', 0)
			h3!= t
			if d
				+e.date!= d
			if links
				block

mixin btn-more(l, t)
	a.btn-more(href=`${l}`)
			+icon('chevron-right-btn')
			span!= t

mixin downloadLink(text, a="#")
	+b.A.download-link(href=a)
		+icon('doc-download')
		span!= text
			
mixin purePreloader()
	+b.spinner

mixin formBlock(data)
	+b.form-block
		.container
			+e.FORM.search
				if data.form
					+input("Поиск")
					button 
						+icon('search')
				if data.text
					p!= data.text 
			if data.btn
				ul
					li
						button(type="button").active Портфолио
					li
						button(type="button") Новости
					li
						button(type="button") Услуги
			if data.error 
				+e.P.error!= data.error

mixin cardItem(title, text, i, btn)
	+b.cardWrrap&attributes(attributes)
		+e.content
			h2!= title
			if text
				span!= text
			if btn
				+e.BUTTON.btn!= btn
		+pic(`${i}`, 'bg', 0)